.app__container{
  display: flex;
  gap: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.input{
  width: 450px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
}

.btn{
  padding: 5px 0;
  margin-top: 10px;
  width: 180px;
  border: none;
  border-radius: 10px;
  background-color: rgb(27, 80, 255);
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
  max-width: 600px;
}

.loader{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: darkred;
}